body {
    font-size: 110%;
    font-family: 'Work Sans', sans-serif;
    
  
}

form {
    background-color: darkmagenta;
    margin: auto;
    position: relative;
    font-size: 0.9rem;
    line-height: 1.5rem;
    text-decoration: none;
    border-radius: 2%;
    padding: 200;
    padding-top: 1.4rem;
    border: 1px solid #DDD;
    border: inset 1px solid #DDD;
}